@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-sans);
}

@custom-variant dark (&:is(.dark *));

:root {
  --background: #fafafa;
  --foreground: #09090b;
  --primary: #fafafa;
  --primary-foreground: #09090b;
  --secondary: #09090b;
  --secondary-foreground: #fafafa;
  --accent: #fcd34d;
  --input: #fafafa;
  --input-foreground: #09090b;
  --border: #09090b;

  --font-sans: "Space Grotesk", "ui-sans-serif", "sans-serif", "system-ui";
  --font-serif: "Space Grotesk", "Georgia", "serif";
  --font-mono: "Space Grotesk", "monospace";
  --tracking-normal: 0px;
  --spacing: 0.25rem;
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;
  --primary: #09090b;
  --primary-foreground: #fafafa;
  --secondary: #fafafa;
  --secondary-foreground: #09090b;
  --accent: #fcd34d;
  --input: #09090b;
  --input-foreground: #fafafa;
  --border: #fafafa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-input: var(--input);
  --color-input-foreground: var(--input-foreground);
  --color-border: var(--border);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
